

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: rgb(10, 236, 161);
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.hobbies {
    list-style-type: square;
}
ul li:nth-child(odd) {
  background-color: lightgray; /* You can change the color */
} 
nav ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    text-decoration: none; 
    background-color: #ffffff;
    color: #08b00d;
    border: 1px solid #02ee60;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav  a:hover,
nav  a:focus {
    background-color: #000000;
}
